/.metadata/
petcalli_backend 2/build.gradle
.vscode/settings.json
.DS_Store

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Ignorar la carpeta .vscode
.vscode/
/.metadata/

# Ignorar el archivo build.gradle en la carpeta petcalli_backend 2
petcalli_backend 2/build.gradle

